.button{
    background-color: #3D3C40;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f6f6f6;
    font-weight: 600;
    cursor: pointer;
}