.button{
    background-color: #3D3C40;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F2B705;
    font-weight: 600;
    cursor: pointer;
    border-style: groove;
    border-color: #F2B705;
}