.app {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
    .section {
      height: calc(100vh - 70px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 70px;
    }
  }